<section id="home" class="col-lg-12 col-xs-12 bordered-shadowed">
    <aside class="col-xs-12 col-sm-4 col-md-3" style="margin: 0 auto">
        <img src="images/devfest-logo-2013.png" />
    </aside>
    <section class="col-xs-12 col-sm-8 col-md-5 text-center">
        <h1>Register</h1>
        <p class="lead" style="padding: 20px">
            Registration is easy! Just say "yes" on the <a href="https://plus.google.com/u/0/events/c68v2er7vfap2288bthdr5a0vv4">Google+ Event page</a>.


        </p>


    </section>



</section>