<ul class="list-unstyled" class="col-lg-12">
    <li ng-repeat="slot in schedule" class="schedule">

        <div class="col-md-2">
            <div class="time col-md-12 text-center">
                <div class="time-badge">
                    <div class="time-hour">{{ slot.time.start | date:'hh' }}</div>
                    <div class="time-ampm">{{ slot.time.start | date:'a' }}</div>
                </div>
            </div>
        </div>

        <div class="col-md-10 row" ng-hide="slot.sessions.length == 1">
            <div class="room col-md-6">
                <div class="roomA" ng-hide="slot.sessions[0]==0">
                    {{ speakers[slot.sessions[0]].title }}
                </div>
            </div>
            <div class="room col-md-6">
                <div class="roomB" ng-hide="slot.sessions[1]==0">
                    {{ speakers[slot.sessions[1]].title }}
                </div>
            </div>
            <div class="room col-md-6">
                <div class="roomC" ng-hide="!speakers[slot.sessions[2]].title || slot.sessions[2]==0">
                    {{ speakers[slot.sessions[2]].title }}
                </div>
            </div>
            <div class="room col-md-6">
                <div class="roomD" ng-hide="!speakers[slot.sessions[3]].title || slot.sessions[3]==0">
                    {{ speakers[slot.sessions[3]].title }}
                </div>
            </div>
        </div>
        <div class="col-md-10 row" ng-show="slot.sessions.length == 1">
            <div class="room col-md-12">
                <div class="roomMain">
                    {{ slot.sessions[0] }}
                </div>
            </div>
        </div>
    </li>
</ul>