<section id="home" class="col-lg-12 col-xs-12 bordered-shadowed">
    <aside class="col-xs-12 col-sm-4 col-md-3" style="margin: 0 auto">
        <img src="images/devfest-logo-2013.png" />
    </aside>
    <section class="col-xs-12 col-sm-8 col-md-5 text-center">
        <h1>GDG DevFest Southwest 2013</h1>
        <p class="lead" style="padding: 20px">

Hello fellow developers!  We wanted you to be the first to know that we have finalized our plans for the Southwest DevFest.  We really do believe that it's going to be a great event.  
        </p>

        <p style="text-align: left">
Here is a quote from the <a href="https://developers.google.com/events/devfest/" target="_blank">DevFest website</a>, that describes how this event will be different <blockquote>Each event will be inspired by and uniquely tailored to the needs of the developer community that hosts it. While no two events will be exactly alike, each GDG DevFest will, at its core, be powered by a shared belief that when developers come together to exchange ideas, amazing things can happen.</blockquote>
        </p>



        </p>
    </section>


    <section class="col-xs-12 col-sm-12 col-md-4" >
        <p style="text-align: left; margin-top:200px;">
As you will see we have multiple tracks focusing on various aspects relating to enhancing your Android, Web, or Project Management skills.  Our day will be focused on interactive and hands-on sessions.  You are encouraged to attend the entire day, but if you aren't interested in a subject being presented feel free to come down anyway, as we will have an alternate track scheduled. This will be an area designed for hands on programming, where experts will be available to answer questions, or discuss technology (come get a kick-start on that Web or Mobile project you have always wanted to work on).
        </p>



<!--         <div style="width:195px; text-align:center;margin:50px auto;" ><iframe  src="http://www.eventbrite.com/countdown-widget?eid=7070364651" frameborder="0" height="258" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/ecount">Sell Tickets Online</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=ecount">Eventbrite</a></div></div>
 -->

    </section>
</section>